#!/bin/bash

docker run \
    -it \
    --init \
    --rm \
    --user $(id -u):$(id -g) \
    -v ${PWD}/collections:/usr/local/src/sucotron/collections \
    ${SUCOTRON_IMAGE-constructionsincongrues/sucotron}:${SUCOTRON_VERSION-${SUCOTRON_VERSION}} \
    make "$@"
